body {

    background: linear-gradient(90deg, rgb(214, 145, 112) 0%, rgb(228, 149, 103) 35%, rgb(194, 91, 168) 100%);
    display: grid;
    padding: opx;
    margin: 0px;

}

form {
    background-color: white;
    max-width: 80%;
    border-radius: 10px;
    margin: 25px 20px 25px 120px;



}

section {
    float: left;

}

.about {
    background-color: rgb(240, 207, 145);
    height: 100%;
    max-width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 40px;
}
.sign-off{
 padding-top: -620px;

}

h4 {
    font-family: 'dancing script', cursive;
    font-size: 20px;
    color: rgb(139, 93, 6);
}

h1 {
    max-width: 70%;
    color: rgb(139, 93, 6);

}

img {
    width: 300px;
    height: 250px;
}

.form {
    padding: 5px 0px 0px 125px;
}

#heading1 {
    text-align: right;
    margin-left: 250px;
}

.heading a {
    text-decoration: none;
    color: rgb(87, 125, 228);

}

.name {
    display: flex;

}

.fname {
    padding: 8px;
}

.uname {
    padding: 8px;
}



.google {
    background-color: rgb(20, 118, 184);
    border: thistle;
    width: 262px;
    height: 30px;
    border-radius: 5px;
}

.google a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.facebook {
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.facebook a {
    text-decoration: none;
    color: grey;
}

.twitter {
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.twitter a {
    text-decoration: none;
    color: grey;
}

.or {
    display: flex;
}

hr {
    width: 170px;

}

.name input {
    border-radius: 5px;
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 175px;
    height: 25px;
}

.details input {
    border-radius: 5px;
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 370px;
    height: 25px;
}

#agreement {
    max-width: 400px;
    font-size: small;
}

.createAccount {
    background-color: rgb(221, 120, 204);
    border: white;
    width: 150px;
    height: 30px;
    color: white;
}

#footer {
    font-size: smaller;
    padding-top: 90px;
    max-width: 300px;

}